html {
    display: block;
}
body {
    background-color: #eee;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
	 -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}
* {
    text-decoration: none !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#all {
    width: 100%;
    height: 100%;
    line-height: 100%;
    display: inline-block;
	    /* background-image: url(/img/ceshi.png); */
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#all_top {
    width: 100%;
    height: 200px;
    line-height: 200px;
    display: inline-block;
    text-align: center;
    background-color: #ededed;
    box-shadow: rgb(237, 237, 237) 0 2px 12px 0px;
    -webkit-box-shadow: rgb(237, 237, 237) 0 2px 12px 0px;
}

#all_top_sou {
    display: inline-block;
    margin-top: 100;
    box-shadow: rgba(213, 213, 213, 0.6) 0 6px 32px 0px;
	-webkit-box-shadow: rgba(213, 213, 213, 0.6) 0 6px 32px 0px;
	transition: 0.4s;
    -webkit-transition: 0.4s;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}
#all_top_sou:hover {
    box-shadow: rgba(193, 193, 193, 0.6) 0 6px 32px 0px;
	-webkit-box-shadow: rgba(193, 193, 193, 0.6) 0 6px 32px 0px;
}
.loding {

    position: fixed;
    right: 0px;
    top: 0px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    text-align: right;
    line-height: 50px;
    border-radius: 0px 6px 6px 0px;

}
#sou {
    height: 70px;
    width: 500px;
    line-height: 70px;
    display: inline-block;
    font-size: 2.5rem;
    border-radius: 6px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px 80px 10px 10px;
	color: #c7c7c7;
}
#all_below {
    width: 100%;
    height: auto;
    display: flex;
}
#all_below_kuang {

height: auto;
margin: 0 auto;
}
.all_below_kuang_a {
height: auto;
float: left;
margin: 1.4%;
width: 22.2%;
transition: 0.4s;
-webkit-transition: 0.4s;
transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
border-radius: 6px;
}
.all_below_kuang_a:hover {
    box-shadow: 0 12px 12px -12px rgb(130, 130, 130), 0 24px 24px -16px rgba(130, 130, 130, 0.4);
    -webkit-box-shadow: 0 12px 12px -12px rgb(130, 130, 130), 0 24px 24px -16px rgba(130, 130, 130, 0.4);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.all_below_kuang_img {
overflow: hidden;
background-color: #ff6c60;
background-repeat: no-repeat;
background-position: center 0;
background-size: cover;
border-radius: 6px;
box-shadow: 0 0.2rem 0.9rem rgba(70, 70, 70, 0.1);
-webkit-box-shadow: 0 0.2rem 0.9rem rgba(70, 70, 70, 0.1);
-webkit-transition: 0.4s;
transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
padding: 20px 50px 20px 50px;
}
.all_below_kuang_img img {
width: 100%;
-webkit-transition: 0.4s;
transition: 0.4s;
border-radius: 50%;
position: relative;
text-align: center;
margin: 0 auto;
}
.all_below_kuang_img:hover {

}
.all_below_kuang_name {
    text-align: center;
    height: 40px;
    padding: 0px;
    margin: 0px;
    display: none;
    line-height: 40px;
}
.all_below_kuang_nanme2 {
    margin: auto;
    display: block;
    margin-top: 48px;
    text-align: center;
}
.all_below_kuang_nanme2 h3 {
    font-size: 14px;
    margin: auto;
    line-height: 40px;
    color: #8e8e8e;
    font-family: 微软雅黑, Microsoft YaHei;
    text-decoration: none !important;
    left: 0px !important;
	font-style:normal
}


.all_below_kuang_a_2 {
height: auto;
float: left;
margin: 1.4%;
width: 22.2%;
transition: 0.4s;
-webkit-transition: 0.4s;
transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
border-radius: 6px;
}
.all_below_kuang_a_2:hover {
    box-shadow: 0 12px 12px -12px rgb(130, 130, 130), 0 24px 24px -16px rgba(130, 130, 130, 0.4);
    -webkit-box-shadow: 0 12px 12px -12px rgb(130, 130, 130), 0 24px 24px -16px rgba(130, 130, 130, 0.4);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.all_below_kuang_img_2 {
overflow: hidden;
background-color: #ff6c60;
background-repeat: no-repeat;
background-position: center 0;
background-size: cover;
border-radius: 6px;
box-shadow: 0 0.2rem 0.9rem rgba(70, 70, 70, 0.1);
-webkit-box-shadow: 0 0.2rem 0.9rem rgba(70, 70, 70, 0.1);
-webkit-transition: 0.4s;
transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
padding: 20px 50px 20px 50px;
}
.all_below_kuang_img_2 img {
width: 100%;
-webkit-transition: 0.4s;
transition: 0.4s;
border-radius: 50%;
position: relative;
text-align: center;
margin: 0 auto;
}
.all_below_kuang_name_2 {
    text-align: center;
    height: 40px;
    padding: 0px;
    margin: 0px;
    display: none;
    line-height: 40px;
}
.all_below_kuang_nanme2_2 {
    margin: auto;
    display: block;
    text-align: center;
}
.all_below_kuang_nanme2_2 h3 {
    font-size: 14px;
    margin: auto;
    line-height: 40px;
    color: #8e8e8e;
    font-family: 微软雅黑, Microsoft YaHei;
    text-decoration: none !important;
    left: 0px !important;
	font-style:normal
}


.xuan {
width: 50%;
height: 300px;
background-color: #636363cc;
margin: 0 auto;
padding: 10px;
position: fixed;
display: inline-block;
-moz-box-shadow: -2px 4px 16px rgba(0, 0, 0, 0.42);
-webkit-box-shadow: -2px 4px 16px rgba(0, 0, 0, 0.42);
box-shadow: -2px 4px 16px rgba(0, 0, 0, 0.42);
transform: translateX(-50%) translatey(-50%);
left: 50%;
top: 50%;
border-radius: 4px;
}
.xuan a {
    color: #fff;
}


@media (min-width: 2560px){
#all_below_kuang {
width: 30%;
}
}
@media screen and (min-width: 1920px) and (max-width: 2559px)
{
#all_below_kuang {
width: 35%;
}
}
@media screen and (min-width: 1680px) and (max-width: 1919px)
{
#all_below_kuang {
width: 40%;
}
}
@media screen and (min-width: 1440px) and (max-width: 1679px)
{
#all_below_kuang {
width: 50%;
}
}
@media screen and (min-width: 1280px) and (max-width: 1439px)
{
#all_below_kuang {
width: 60%;
}
}
@media screen and (min-width: 1024px) and (max-width: 1279px)
{
#all_below_kuang {
width: 70%;
}
}
@media screen and (min-width: 800px) and (max-width: 1023px)
{
#all_below_kuang {
width: 80%;
}
}
@media screen and (min-width: 600px) and (max-width: 799px)
{
#all_below_kuang {
width: 85%;
}
}
@media (max-width: 560px){
#all_below_kuang {
width: 90%;
}
#sou {
    width: 330;
}
.all_below_kuang_a {
    width:39.2%;
    margin:3.2% 5.2% 3.2% 5.2%;
}
.all_below_kuang_a_2 {
    width:39.2%;
    margin:3.2% 5.2% 3.2% 5.2%;
}
}
@media (max-width: 376px){
#all_below_kuang {
width: 100%;
}
}
@media (max-width: 320px){
#sou {
    width: 280;
}
}